.header {
  background: #999999;
  font-size: 16px;
  height: 30px;
  padding: 10px;
  text-align: center;
}

.footer {
  border: 1px solid grey;
  border-radius: 0.2rem;
  margin: none;
}

.footerTitle {
  padding-left: 1rem;
}

.footerValue {
  float: right;
  padding-right: 1rem;
}
